.frase {
    font-size: 20px;
}

.title {
    color: #2bbbad;
}

.fieldType {
    font-size: 20px;
    font-style: italic;
    color: blue;
    height: 120px;
   
}

.campo-digitacao {
    background-color: lightgray;
}

.myAlign {
    vertical-align: middle;
}

.borda-padrao {
    border: 3px solid #2bbbad;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

h3 {
    color: #039be5;
}

body {
    overflow: scroll;/*Reserva um espaço p barra de rolagem, assim nao afasta a page*/
}

.btn {
    margin: 3px;
}

.placar {
    display: none; /*Faz desaparecer o componente*/
}

.menu {
    display: none;
}
.menuDrop {
    display: none;
}

#error {
    font-size: 14px;
    color: red;
    font-weight: bold;
    display: none;
}

#spinner {
    display: none;
}

.btn-floating {
    margin: 3px;
}

#buscarFraseInput {
    width: 7%;
    margin-left: 5px;
    background-color: #64beb5;
    height: 30px;
}

#success {
    display: none;
    color: green;
    font-weight: bold;
}

#usuarios { /*por default, materialize deixa os selects none*/
    display: block;
}

.selectize-input {
    width: 150px !important;
    vertical-align: middle;
}


